body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.controls {
    padding-bottom: 20px;
}

.controls label {
    padding-right: 10px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}


.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    height: 48px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 48px;
}

.square:focus {
    outline: none;
}

